@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins';
}

nav{
    margin-top: 2rem;
    margin-bottom: 2rem;

    .nav-item{
        a{
            color: #181818 !important;
            font-size: 1rem;
            font-weight: 400;
            margin-left: 2rem;

            &:hover{
                color: #764AF1 !important;
            }
        } 
    }
}

.hero{

    span{
        color: #181818;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    h1{
        color: #181818;
        font-size: 2.5rem;
        font-weight: 600;

        label{
            color: #764AF1;
        }
    }

    p{
        color: #181818;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 1rem;
    }
}

main{
    h2{
        color: #181818;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }

    .card{
        border: none;

        .card-body{
            margin: 1rem 0 2rem 0;
            padding: 0;

            h3{
                color: #181818;
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            a{
                text-decoration: none;
                img{
                    color: #764AF1;
                    margin-right: 0.5rem;
                }
                
                span{
                    color: #181818;
                    font-size: 1rem;
                    font-weight: 500;

                    &:hover{
                        color: #764AF1;
                        text-decoration: underline;
                    }
                }
            }
        }
    } 
}

footer{
    a{
        text-decoration: none;
        margin-right: 2rem;

        svg{
            fill: #181818;
            width: 2rem;
            height: 2rem;

            &:hover{
                fill: #764AF1;
            }
        }
    }

    p{
        font-size: 1.5rem;
        font-weight: 400;
        color: #181818;
    }
}

.title-section{
    label{
        margin-left: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        color: #181818;
    }

    .title{
        margin: 4.5rem 0 4.5rem 0;
        
        .main-title{
            color: #764AF1;
            font-size: 2.5rem;
            font-weight: 600;

        }

        .sub-title{
            color: #181818;
            font-size: 2.5rem;
            font-weight: 600;
        }
    }


}  

.title-img{
    margin-bottom: 4.5rem;
}

section{
    h2{
        color: #764AF1;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
}

.overview-section{
    margin-bottom: 4.5rem;

    .overview-content{
        margin-bottom: 2rem;
        h3{
            color: #181818;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        p{
            color: #181818;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    
}

.process-section{
    margin-bottom: 4.5rem;

    .card{
        border: none;

        .card-body{
            margin-top: 1.5rem;
            
            span{
                color: #181818;
                font-size: 1.5rem;
                font-weight: 500;
            }
        }   
    }
}

.step-section{
    margin-bottom: 4.5rem;
    
    .step-content{
        margin-bottom: 2rem;
        h3{
            color: #181818;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        p{
            color: #181818;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}