@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background: #222831 !important;
    color: #ffffff !important;
} 

nav{
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: sticky !important;
    top: 0;
    background-color: #222831;
    z-index: 1;

    .nav-item{
        margin-left: 2rem;

        a{
            color: #eeeeee !important;
            font-size: 1rem;
            font-weight: 500;

            &:hover{
                color: #FFD369 !important;
            }
        }
    }
}

.hero{
    margin: 7.75rem;

    span{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .name{
        color: #ffffff;
        font-weight: 700;
        font-size: 3.5rem;
        margin-bottom: 0.5rem;

        label{
            color: #FFD369;
        }
    }

    .occupation{
        font-weight: 700;
        font-size: 3.5rem;
        margin-bottom: 1rem;
        color: #FFD369;
        
        // font-size: 190px;
    }

    p{
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.content-section{
    margin: 3.5rem 0;
    h2{
        font-weight: 600;
        font-size: 2rem;
    }

    .card-project{
        margin: 2rem 0;
        .card-project-body{
            margin: 1rem 0;

            h3{
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            .card-project-desc{
                margin-bottom: 1rem;
            }

            a{
                margin-left: 1rem;
                color: #7a7a7a;
                text-decoration: none;
                font-weight: 500;

                &:hover{
                    color: #FFD369;
                    text-decoration: underline;
                }
            }
        }
    }
}

footer{
    a{
        margin-right: 2rem;
        svg{
            fill: #7a7a7a;

            &:hover{
                fill: #FFD369;
            }
        }
    }

    p{
        font-size: 1.5rem;
        font-weight: 400;
        color: #7a7a7a;
    }
}

.title-section {
    label {
        margin-left: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .title {
        margin: 4.5rem 0 4.5rem 0;

        .main-title {
            color: #FFD369;
            font-size: 2.5rem;
            font-weight: 600;

        }

        .sub-title {
            font-size: 2.5rem;
            font-weight: 600;
        }
    }
} 

.title-img {
    margin-bottom: 4.5rem;
}

.desc-section{
    p{
        font-size: 1.25rem;
        font-weight: 500;
        margin: 5rem;
    }
}

.default-section{
    div{
        margin: 4rem 5rem;
    }
    h2{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: #FFD369;
    }

    p{
        font-size: 1rem;
        font-weight: 500;
        color: #7a7a7a;

        &:hover{
            color: #ffffff;
        }
    }
}

.process-section{
    .wrapper{
        margin: 4rem 5rem;

        h2{
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 1rem;
            color: #FFD369;
        }

        .process-wrapper{
            color: #7a7a7a;

            &:hover{
                color: #ffffff;
            }
        }

        span{
            font-size: 1rem;
            font-weight: 500;
            margin-right: 0.25rem;

        }

        a{
            color: #FFD369;
            text-decoration: none;
            font-weight: 600;

            &:hover{
                color: #7a7a7a;
                text-decoration: underline;
            }
        }
    }
}